public/*
!public/_redirects
.DS_Store
node_modules
package.json
postcss.json
package-lock.json
test.pdf
content/assets/
content/technotes/cache/
content/tutorials/cache/
content/tutorials/img/
config.codekit3
.Rproj.user
.DS_Store
.Rhistory
content/blog/*.html
.gitignore
content/blog/*/index.html
content/technotes/*/index.html
content/technotes/2020-04-16-extracting-ebird-data-from-a-polygon/data*
