public/*
!public/_redirects
.DS_Store
node_modules
package.json
postcss.json
package-lock.json
test.pdf
content/assets/
content/tutorials/cache/
content/tutorials/img/
config.codekit3
.Rproj.user
.DS_Store
.Rhistory
*.Rproj
content/blog/*.html