<!DOCTYPE html>
<html>
<head>
    <title>rOpenSci | Package Use Cases</title>
    {{ partial "style-path.html" }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this one is super important for mobile devices -->
</head>
<body>
{{ partial "header.html" . }}

<!-- begins usecases -->
    <section class="usecases">
        <div class="container">
            <div class="row center">
                <div class="col-8 top-20">
                    <h2>Use Cases</h2>
                </div>
                <div class="col-8 top-4">
                    <p>If you’re looking for examples of how our R packages have been used, search no more! Here are some amazing examples on our most popular packages</p>
                </div>
            </div><!-- /row -->
            <div class="row centered">
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/rbison">
                        <span class="label">rbison</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/rbison_thumbnail.png" />
                        </div>
                        <h5>Macroecology - testing the species-abundance distribution</h5>
                    </a>
                </div>
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/rgbif_nichemodel">
                        <span class="label">rgbif</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/rgbif_nichemodel.png" />
                        </div>
                        <h5>Ecological niche modelling (aka species distribution modelling)</h5>
                    </a>
                </div>
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/rgbif_biodivcomp">
                        <span class="label">rgbif</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/rgbif_biodivcomp_plot.png" />
                        </div>
                        <h5>Biodiversity comparisons across cities</h5>
                    </a>
                </div>
            </div><!-- /row -->

            <div class="row centered">
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/occurrences_oaks">
                        <span class="label">rgbif</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/oaks_thumbnail.png" />
                        </div>
                        <h5>Comparing occurrence data for valley oaks</h5>
                    </a>
                </div>
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/taxize_listtomap">
                        <span class="label">taxize</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/unnamed-chunk-16.png" />
                        </div>
                        <h5>From a species list to cleaning names to a map of their occurrences</h5>
                    </a>
                </div>
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/taxize_makephylo">
                        <span class="label">taxize</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/taxize_makephylo.png" />
                        </div>
                        <h5>Make a phylogeny from species names alone</h5>
                    </a>
                </div>
            </div><!-- /row -->

            <div class="row centered">
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/rwbclimate_plotting">
                        <span class="label">rWBclimate</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/rwb1.png" />
                        </div>
                        <h5>Intro to working with World Bank climate data in R</h5>
                    </a>
                </div>
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/spocc_gistmap">
                        <span class="label">spocc</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/rgbifgistmap_sshot.png" />
                        </div>
                        <h5>Easily make an interactive map on the web from R</h5>
                    </a>
                </div>
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/taxize_matchdfs">
                        <span class="label">taxize</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/taxize_matchdfs.png" />
                        </div>
                        <h5>Match tables with different taxon names</h5>
                    </a>
                </div>
            </div><!-- /row -->

            <div class="row centered">
                <div class="col-2 top-4 bottom-12">
                    <a href="/usecases/taxize_invasivephylo">
                        <span class="label">taxize</span>
                        <div class="thumb">
                            <img src="/img/usecases-images/taxize_invasivephylo_tree.png" />
                        </div>
                        <h5>Examine invasiveness on a phylogenetic tree</h5>
                    </a>
                </div>
            </div><!-- /row -->
        </div>
    </section>
<!-- ends usecases -->

{{ partial "footer.html" . }}

</body>
</html>
