<section id="team" class="team">
        <div class="container">
            <div class="row center">
                <div class="col-10 top-12">
                    <h2>Meet our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-offset-2 top-4">
                    <p>Our core team includes staff and postdoctoral fellows. Our leadership and editorial board members are volunteers.</p>
                </div>
            </div>
{{ $team := $.Data.team.team }}
{{ $lenteam := (len $team) }}
{{ $columns := 4.0 }}
{{ $rows := div $lenteam $columns }}
{{ $rows := math.Ceil $rows }}
{{ range (seq 1 $rows) }}
  {{ $y := (add (mul (sub . 1)  4) 1)}}
  <div class="row center">
  {{ range (seq 1 $columns) }}
    {{ $i := ( add . $y ) }}
    {{ $i := (sub $i 2)}}
    {{ if (le $i (sub $lenteam 1)) }}
      {{ $teammember := (index $team $i) }}
      {{ partial "team.html" $teammember }}
    {{ end }}
  {{ end }}
  </div>
{{ end }}
    </section>
    <!-- /team -->
    <section id="team" class="team">
        <div class="container">
            <div class="row center">
                <div class="col-10 top-12">
                    <h2>Meet our Research Fellows</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-offset-2 top-4">
                    <p>Our 2017 & 2018 research fellows were awarded support for their ongoing work in open science to enable them to have a bigger voice in their communities.</p>
                </div>
            </div>
            <div class="row center">
                <div class="col-2 top-12">
                    <img src="/img/team/kelly-hondula.jpg" />
                    <h5><a href="https://www.sesync.org/users/khondula">Kelly Hondula</a></h5>
                    <h5>University of Maryland, SESYNC</h5>
                </div>
                <div class="col-2 top-12">
                    <img src="/img/team/zachary-foster.jpg" />
                    <h5><a href="https://github.com/zachary-foster">Zachary Foster</a></h5>
                    <h5>Oregon State University</h5>
                </div>
                <div class="col-2 top-12">
                    <img src="/img/team/sam-tyner.jpg" />
                    <h5><a href="https://sctyner.github.io/">Sam Tyner</a></h5>
                    <h5>Iowa State University, CSAFE</h5>
                </div>
                <div class="col-2 top-12">
                    <img src="/img/team/jon-zelner.jpg" />
                    <h5><a href="http://www.jonzelner.net/">Jon Zelner</a></h5>
                    <h5>University of Michigan</h5>
                </div>
            </div>
            <div class="row center">
                <div class="col-2 top-12">
                    <img src="/img/team/nick-golding.jpg" />
                    <h5><a href="https://github.com/goldingn">Nick Golding</a></h5>
                    <h5>University of Melbourne</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- /team -->
    <section id="collaborators" class="collaborators">
        <div class="container">
            <div class="row center">
                <div class="col-8 top-20">
                    <h2>Meet our Collaborators</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-8 col-offset-2 top-4">
                    <p>Our collaborators include people whose packages have passed rOpenSci Software Peer Review, reviewers of two or more packages, and others who have contributed significant time and effort to rOpenSci. This listing is not yet complete. We're thankful for all contributions, big or small. <a href="https://ropensci.org/community/">Want to get involved?</a></p>
                </div>
            </div>

            <div class="siema top-20 bottom-20">
                <!-- Contributors -->
                <div class="collaborator bottom-10">
                    <img src="/img/community/simon_goring.png">
                    <div class="description">
                        <h5>Simon Goring</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/david_winter.png">
                    <div class="description">
                        <h5>David Winter</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/sara_varela.jpg">
                    <div class="description">
                        <h5>Sara Varela</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/vijay_barve.jpg">
                    <div class="description">
                        <h5>Vijay Brave</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/rafael_maia.jpg">
                    <div class="description">
                        <h5>Rafael Maia</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/banbury.jpg">
                    <div class="description">
                        <h5>Barb Banbury</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/thomas_leeper.png">
                    <div class="description">
                        <h5>Thomas Leeper</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/ted_hart.jpg">
                    <div class="description">
                    	<h5>Ted Hart</h5>
                	</div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/ed_szocs.jpeg">
                    <div class="description">
                        <h5>Ed Szöcs</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/toby_hocking.jpg">
                    <div class="description">
                        <h5>Toby Hocking</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/javier_gonzalez.jpg">
                    <div class="description">
                        <h5>Javier Gonzalez</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/najko_jahn.jpeg">
                    <div class="description">
                        <h5>Najko Jahn</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/david_springate.jpg">
                    <div class="description">
                        <h5>David Springate</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/stefan.jpg">
                    <div class="description">
                        <h5>Stefan Widgren</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/brian.jpg">
                    <div class="description">
                        <h5>Brian O' Meara</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/ciera_martinez.jpg">
                    <div class="description">
                        <h5>Ciera Martinez</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/martin_fenner.jpg">
                    <div class="description">
                        <h5>Martin Fenner</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/gavin_simpson.jpg">
                    <div class="description">
                        <h5>Gavin Simpson</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/ben_mawrick.jpg">
                    <div class="description">
                        <h5>Ben Marwick</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/barry_r.jpg">
                    <div class="description">
                        <h5>Barry Rowlingson</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/jeff_hollister.png">
                    <div class="description">
                        <h5>Jeff Hollister</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/ethan_white.jpg">
                    <div class="description">
                        <h5>Ethan White</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/karl_broman.png">
                    <div class="description">
                        <h5>Karl Broman</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/alex_harkess.jpg">
                    <div class="description">
                        <h5>Alex Harkess</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/hilmar_lapp.jpg">
                    <div class="description">
                        <h5>Hilmar Lapp</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/rutger_vos.jpg">
                    <div class="description">
                        <h5>Rutger Vos</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/matt_pennell.jpg">
                    <div class="description">
                        <h5>Matt Pennell</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/gabor_csardi.jpg">
                    <div class="description">
                        <h5>Gabor Csardi</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/abaghan_ghahraman.png">
                    <div class="description">
                        <h5>Abaghan Ghahraman</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/chris_ray.jpg">
                    <div class="description">
                        <h5>Chris Ray</h5>
                    </div>
                </div>.
                <div class="collaborator bottom-10">
                    <img src="/img/community/tad-dallas.jpg">
                    <div class="description">
                        <h5>Tad Dallas</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/lee_marsh.jpg">
                    <div class="description">
                        <h5>Lee Marsh</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/oliver_keyes.jpg">
                    <div class="description">
                        <h5>Os Keyes</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/kyle_hamilton.jpg">
                    <div class="description">
                        <h5>Kyle Hamilton</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/francois.jpg">
                    <div class="description">
                        <h5>Francois Michonneau</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/franz.jpg">
                    <div class="description">
                        <h5>Franz Krah</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/will_pearse.jpeg">
                    <div class="description">
                        <h5>Will Pearse</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/stefan_bache.jpg">
                    <div class="description">
                        <h5>Stefan Bache</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/julia_gustavsen.jpeg">
                    <div class="description">
                        <h5>Julia Gustavsen</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/kevin_ushey.jpeg">
                    <div class="description">
                        <h5>Kevin Ushey</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/robin_lovelace.jpeg">
                    <div class="description">
                        <h5>Robin Lovelace</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/javier_otegui.jpg">
                    <div class="description">
                        <h5>Javier Otegui</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/david_robinson.jpg">
                    <div class="description">
                        <h5>David Robinson</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/peter_meissner.jpg">
                    <div class="description">
                        <h5>Peter Meissner</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/mark_padgham.png">
                    <div class="description">
                        <h5>Mark Padgham</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/gordon_shotwell.jpg">
                    <div class="description">
                        <h5>Gordon Shotwell</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/tony_fischetti.jpg">
                    <div class="description">
                        <h5>Tony Fischetti</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/joseph_brown.jpeg">
                    <div class="description">
                        <h5>Joseph Brown</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/andy_south.jpeg">
                    <div class="description">
                        <h5>Andy South</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/elaine_mcvey.png">
                    <div class="description">
                        <h5>Elaine McVey</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/danton_noriega.png">
                    <div class="description">
                        <h5>Danton Noriega-Goodwin</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/jaime_ashander.jpeg">
                    <div class="description">
                        <h5>Jaime Ashander</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/gabe_becker.jpeg">
                    <div class="description">
                        <h5>Gabe Becker</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/daniel-katz.png">
                    <div class="description">
                        <h5>Daniel Katz</h5>
                    </div>
                </div>
                <div class="collaborator bottom-10">
                    <img src="/img/community/carson-sievert.jpg">
                    <div class="description">
                        <h5>Carson Sievert</h5>
                    </div>
                </div>
            </div>
            <!-- /scroller -->
        </div>
    </section>
    <!-- /collaborators -->
    {{ partial "donate.html" . }}
    <!-- jQuery and jQuery UI loading for easing -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript">
        $('.siema').slick({
            infinite: true,
            slidesToShow: 6,
            autoplay: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }]
        });
    </script>
  <!-- initialize scroll click buttons functionality -->
  <!-- Loads scroll-snap polyfill -->
  <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/scroll-snap-polyfill.js"></script>
