{{$staff := .Site.Params.staff}}
{{$leadership := .Site.Params.leadership}}

{{ range $i, $e := .authors }}
{{ if $i }}&nbsp;| 
  {{ end }}
                            &nbsp;
                            {{ if in $leadership .name }}
                              <a href="/about/#team">{{ .name }}</a> 
                            {{ else if in $staff .name }}
                              <a href="/about/#team">{{ .name }}</a>
                            {{ else if eq .name "Ted Hart" }}
                              <a href="{{.Site.BaseURL}}/about/#team">{{ .name }}</a>
                            {{ else }}
                              <a href="{{ .url }}" target="_blank">{{ .name }}</a>
                            {{ end }}
                            {{ if .twitter }}
                            <a href="https://twitter.com/{{.twitter}}" class="social" alt="twitter" target="_blank">
                               <sup><i class="ropensci-icons">o</i></sup>
                            </a>
                            {{ end }}
                        {{ end }}