{{$pages := .Site.Pages.ByPublishDate.Reverse}}
{{ $authors := "blabla" }}
{{ if eq (substr (jsonify .authors) 0 1) "[" }}
{{ $authors = .authors }}
{{ else }}
{{ $authors = (slice .authors) }}
{{ end }}

{{ range $i, $e := $authors }}
{{ range first 1 (where $pages ".Params.name" $e) }}
{{ $params := .Params }}
{{ $name := $params.name }}
{{ if $i }}&nbsp;| 
  {{ end }}
  {{ range first 1 (where $pages ".Params.name" $e) }}
                            &nbsp;
                            <a href="{{ .RelPermalink }}">{{ $name }}</a>
  {{ end }}
                            {{ if $params.twitter }}
                            <a href="https://twitter.com/{{$params.twitter}}" class="social" alt="twitter" target="_blank">
                               <sup><i class="ropensci-icons">o</i></sup>
                            </a>
                            {{ end }}
                        {{ end }}
                        {{ end }}  
