{{$pages := .Site.Pages}}
{{ range $i, $e := .authors }}
{{ if $i }}&nbsp;| 
  {{ end }}
  {{ $name := .e.name}}
  {{ range first 1 (where $pages ".Params.name" $e.name) }}
                            &nbsp;
                            <a href="{{ .Permalink }}">{{ $e.name }}</a>
  {{ end }}
                            {{ if .twitter }}
                            <a href="https://twitter.com/{{.twitter}}" class="social" alt="twitter" target="_blank">
                               <sup><i class="ropensci-icons">o</i></sup>
                            </a>
                            {{ end }}
                            {{ if .bio }}
                            , {{.bio}}
                            {{end}}
                        {{ end }}
