
    <!-- loads jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- loads sidebar scripts -->
    <script type="text/javascript" src="/js/jquery.waypoints.js"></script>
    <script type="text/javascript" src="/js/sticky.min.js"></script>
    <script type="text/javascript" src="/js/sidebarinit.js"></script>

    <!-- loads scripts for highlight JS -->
    <script type="text/javascript" src="/js/highlight.pack.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>