<section>
            <div class="row centered">
                <div class="col-8 top-0">

                    <h5 class="thead">Open Positions</h5>
                    <!-- Accordion begins -->
                    There are no open positions at the moment
                    <!-- Accordion ends -->
                </div>
            </div><!-- /row centered -->
            <div class="row center">
                <div class="col-8 top-20 bottom-20">
                    <p>Don't see what you're looking for? Reach out to <a href="/contact">us</a></p>

                </div>
            </div>
        </div><!-- /container -->
    </section> <!-- /careers -->

  
<!-- Make sure you load this scripts to enable accordion functionality -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/careers.js"></script>

