

<!-- begins commcalls slideshow -->
    <section class="commcalls slideshow">
        <div class="container">
            <div class="row ontop">
                <div class="col-4 col-offset-2 top-0 bottom-20">
                    <h3 class="top-10">Community Calls</h3>
                    <p class="top-4">We hold quarterly community calls open to everyone. Join us to hear about new projects, Q&As with well known developers, and to learn more about rOpenSci developments.</p>
                    <a class="button alt top-4 bottom-10" target="_blank" href="http://communitycalls.ropensci.org/">Commcalls Archive</a>
                </div>
            </div>
            <!-- Actual slides begin here -->
            <ul>
                <li><span>01</span></li>
                <li><span>02</span></li>
                <li><span>03</span></li>
                <li><span>04</span></li>
                <li><span>05</span></li>
                <li><span>06</span></li>
            </ul>
            <!-- Actual slides end here -->
        </div><!-- /container -->
    </section>
<!-- ends commcalls slideshow -->

<!-- begins event calendar section -->
    <!-- begins upcoming events calendar section -->
<section id="upcoming" class="upcoming">
    <div class="container">
        <div class="row center">
            <div class="col-8 top-20">
                <h2>Upcoming events</h2>
            </div>
        </div>
        <div class="row center">
            <div class="col-10 top-12">
                <table id="upcoming-events">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Attendees</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody id="eventlist"></tbody>
                </table>
            </div>

            <div class="col-4 top-5 bottom-13">
                <a href="https://calendar.google.com/calendar/embed?src=t6pva0jm24urp7cp0n32262jd8%40group.calendar.google.com&ctz=America/Los_Angeles" target="_blank" class="button outline green">View full calendar</a>
            </div>
        </div>
    </div>
</section>
<!-- / ends upcoming events calendar section
 ******** IMPORTANT: this section requires calinit.js and calendarJSON.js please see bottom of the page [or search for `calendar] for required scripts ********* -->


<!-- Loads `calendar authorization and funcionality, if calendar is being loaded in a page, this should be just above the closing body tag  -->
<script type="text/javascript" src="/js/calendarJSON.js"></script>
<script type="text/javascript" src="/js/calinit.js"></script>