<section>

            <form class="contact" action="https://formspree.io/info@ropensci.org" method="post">
                <div class="row center">
                    <div class="col-6 top-12">
                    <textarea name="message" placeholder="Your message" required></textarea>
                    </div>
                </div>
                <div class="row center">
                    <div class="col-3 top-2">
                        <input type="text" name="name" placeholder="Your name" required />
                    </div>
                    <div class="col-3 top-2">
                        <input type="email" name="email" placeholder="email@domain.net" required/>
                    </div>
                </div>

                <div class="row center">
                    <div class="col-6 top-4 bottom-20 end">
                        <button class="main">send</button>
                    </div>
                </div>
            </form>
    </section>
    <!-- /contact -->

    <!-- begins newsletter -->
   