    <section class="donate">
       <div class="container">
        <div class="row center">
            <div class="col-10 top-12">
                <i class="ropensci-icons">b</i> <!-- Icon font gift here -->
            </div>
            <div class="col-10 top-2">
                <p>Our work is possible thanks to your support</p>
            </div>
            <div class="col-10 top-2 bottom-12">
                <a class="button alt" href="/donate">
                    Donate
                </a>
            </div>
        </div>
    </div>
</section><!-- /donate -->
