<div class="row center">
                <div class="col-2 top-6 bottom-20">
                    <a class="button main" href="https://numfocus.salsalabs.org/donate-to-ropensci/index.html">Donate now</a>
                </div>
            </div>
<!-- ends donateonline -->

<!-- begins receiving checks section -->
    <section class="checks">
        <div class="container">
            <div class="row">
                <div class="col-1 col-offset-2 top-12">
                    <img src="/img/check.svg" />
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset-2 top-4">
                    <h4>We also take checks</h4>
                    <p>Checks can also be made out to NumFOCUS, just make sure to <strong>add rOpenSci in the memo line</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-offset-2 top-4 bottom-12">
                    <p><strong>NumFOCUS</strong></p>
                    <p> P.O. Box 90596 <br/>
                        Austin, TX 78709 <br/>
                        USA
                    </p>
                </div>
            </div>
        </div>
    </section>