<!-- ends newsletter section -->
<section class="newsletter" id="subscribe">
    <div class="container">
        <div class="row center">
            <div class="col-4 top-0">

                <!-- start form -->
                <form action="//ropensci.us7.list-manage.com/subscribe/post?u=c5de56320aeac3ee7cc954ec2&amp;id=d78520d99e" method="post" class="validate newsletter" target="_blank">
                <!--
                                 <form action="https://us7.api.mailchimp.com/2.0/lists/subscribe?id=16033&amp;apikey=4e975338e462c738c15b87559f9df4e5-us7" method="post" class="validate" target="_blank">
                -->
                    <div class="input-group">
                        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" autocapitalize="off" autocorrect="off" class="form-control" required>
                        <span class="input-group-btn">
                        <button class="btn" type="submit" value="go">Subscribe</button>
                        </span>
                    </div>
                </form>
                <!-- end form -->
            </div>
        </div>
        <div class="row center">
            <div class="col-6 top-4 bottom-9">
                <p>Stay up to date on our projects and events by subscribing to our mailing list</p>
            </div>
        </div>
    </div>
</section>
<!-- ends newsletter section -->
