<section>
    <div class="container">
        <div class="row">
            <div class="col-10 col-offset-1 top-0">
                <form class="filter">
                    <a class="panel">Filters</a>
                    <label>
                        <input type="radio" name="filter" class="all" checked />All</label>
                    <label>
                        <input type="radio" name="filter" class="altmetrics" />Altmetrics</label>
                    <label>
                        <input type="radio" name="filter" class="data-publication" />Data Publication</label>
                    <label>
                        <input type="radio" name="filter" class="data-tools" />Tools</label>
                    <label>
                        <input type="radio" name="filter" class="data-visualization" />Visualization</label>
                    <label>
                        <input type="radio" name="filter" class="databases" />Databases</label>
                    <!--<label><input type="radio" name="filter" class="developer-tools" />Developer Tools</label>-->
                    <label>
                        <input type="radio" name="filter" class="geospatial" />Geospatial</label>
                    <label>
                        <input type="radio" name="filter" class="http-tools" />Web</label>
                    <label>
                        <input type="radio" name="filter" class="image-processing" />Images Processing</label>
                    <label>
                        <input type="radio" name="filter" class="literature" />Literature</label>
                    <!--<label><input type="radio" name="filter" class="metadata" />Metadata</label>-->
                    <label>
                        <input type="radio" name="filter" class="scalereprod" />Computing Infrastructure</label>
                    <label>
                        <input type="radio" name="filter" class="security" />Security</label>
                    <label>
                        <input type="radio" name="filter" class="taxonomy" />Taxonomy</label>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-offset-1 top-0">
                <form class="filter">
                    <label>
                        <input type="checkbox" name="filter" class="on_cran" />CRAN / BIOC available</label>
                    <label>
                        <input type="checkbox" name="filter" class="active" checked/>Active repos</label>
                </form>
            </div>
        </div>
        <div class="row center">
            <div class="col-10 top-4">
                <!-- begins packages table -->

                <table class="table" id="packagestable">
                    <!-- table headings -->

                </table>
                <!-- ends packages table -->
            </div>
            <!-- /col-10 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- ends packages section -->
<!-- Loads table functions -->
<!-- ***************************************************** IMPORTANT: This page loads the dataTables and jquery for table functionality -->
{{ partial "jquery.html" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.7/showdown.min.js" integrity="sha256-CKVcPmoyXVeFTOJvk7+k99gKxTMnKIGs9u8RKFQngVk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>
<!-- initializes table customizing -->
<script type="text/javascript" src="/js/tableinit.js"></script>