<div class="container">
  <div class="pagination">
    {{ if .Paginator.HasPrev }}
      <button type="button" class="btn btn-secondary pull-right"><a href="{{ .Paginator.Prev.URL }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</a></button>
    {{ else }}
      <button type="button" class="btn btn-secondary pull-left disabled"><i class="fa fa-chevron-left" aria-hidden="true"></i> Previous</button>
    {{ end }}

    {{ if .Paginator.HasNext }}
      <button type="button" class="btn btn-secondary pull-right"><a href="{{ .Paginator.Next.URL }}">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></a></button>
    {{ else }}
      <button type="button" class="btn btn-secondary pull-left disabled">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    {{ end }}
  </div>
</div>
