<!DOCTYPE html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}

<!-- begins tutorial section -->
    <section>
        <div class="container">
            <div class="row center">
                <div class="col-8 top-20">
                    <h2>Upcoming Events</h2>
                </div>
                <div class="col-8 top-4 bottom-12">
                </div>
            </div>

            <div class="row">
                <div class="row center">
            <div class="col-10 top-0">
<table>
  <thead>
    <th>Event</th>
    <th>Date</th>
    <th>Location</th>
    <th>Attendees</th>
    <th>Details</th>
  </thead>
  {{ range .Site.Pages }}
  {{ if .Params.dateEnd}}
  {{ $end := (time .Params.dateEnd) }}
  {{ $diff := (now.Sub $end) }}
  {{ $diff := $diff.Hours }}
  {{ if or ($end.After now) (le $diff 48 )}}
  <tr>
    <td><a href="{{ .URL}}" target="_blank">{{.Title}}</a></td>
    <td>{{.Params.dateStart}}</td>
    <td>{{.Params.location}}</td>
    <td>{{.Params.attendees}}</td>
    <td>{{.Params.description | safeHTML}}</td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
</table>
</div>
              <div class="col-4 top-5 bottom-13">
                <a href="{{.URL}}index.ics" target="_blank" class="button outline green">View full calendar</a>
            </div>  
</div>
            </div> 
        </div><!-- /container -->
    </section>
    <!-- ends tutorial section -->
    <br><br>

{{ partial "footer.html" . }}


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="js/tutorialinit.js"></script>

</body>
</html>
