<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "header.html" . }}

    <article class="blog-post">
        <div class="container">
            <div class="row">
                <div class="col-offset-2 col-8 top-20">
                    <h1 style="text-align: center;">{{ .Title }}</h1>

                    <div class="col-offset-2 col-8 top-10 bottom-5" style="font-size: 20px; text-align: center;">
                        <p class="authors" style="text-align: center;">
                            {{$authors := .Params.attendees}} {{ partial "authors.html" (dict "authors" $authors "Site" $.Site) }}
                        </p>
                        <br> {{ $start := (time .Params.dateStart)}} {{ $beautifulstart := $start.Format "2006/01/02"}}
                        {{ $end := (time .Params.dateEnd)}} {{ $beautifulend := $end.Format "2006/01/02"}}
                        <div style="font-size: 20px; color: #2C3E50; margin-top: 15px;">{{ $beautifulstart }}{{if ne $beautifulstart $beautifulend}}-{{ $beautifulend }}{{end}}</div>
                    </div>

                    <br>
                    <div class="row bottom-5 top-5">
                        {{ .Content }}
                    </div>
                </div>

            </div>
            <br>
        </div>
    </article>

    <!-- {{ partial "sidebar.html" . }} -->

    {{ partial "footer.html" . }}

</body>

</html>