{{ define "main" }}


    <article>
                <div class="col-8 col-offset-2 top-10 bottom-10 maintext">

                <div class="row">
            <div class="col-offset-2 col-8 top-0 bottom-0">
                <h2 style="text-align: center;">Content with the "{{lower .Title }}" tag</h2>
            </div>
        </div>
           </div>
    </article>
    {{ partial "archive.html" (dict "pages" .Pages ) }}
 
     <div class="row center top-3 bottom-3">
<p> Find all blog posts, tech notes and community calls <a href="/tags/" target="_blank">by tag</a>, <a href="/archive/" target="_blank">by date</a> and  <a href="/authors/" target="_blank">by author</a>. </p>
          </div>
    
{{ end }}
