{{ define "main" }}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-2 sidebar top-5">
                    <ul class="autoSidebar"></ul>
                </div>
                <!-- /navigation sidebar -->
            </div>
            <div class="row">
                <div class="col-offset-2 col-8 top-20">
                    <h2 style="text-align: center;">Community Call: {{ .Title }}</h2>
                </div>

            </div>
            <div class="row">
                <div class="col-offset-2 col-8 top-10 bottom-5" style="font-size: 20px; text-align: center;">
                    <p class="authors" style="text-align: center;">
                        {{$authors := .Params.authors}} {{ partial "authors.html" (dict "authors" $authors "Site" $.Site) }}
                    </p>
                    <br>
                    <div style="font-size: 20px; color: #2C3E50; margin-top: 15px;">{{ .Date.Format "January 2, 2006" }}</div>
                </div>
                <div class="col-offset-2 col-8 top-2">

                    {{ if .Params.preface }}
                    <div class="alert alert-info" role="alert">{{ .Params.preface | markdownify }}</div>
                    {{ end }}
{{ if .Params.deets }}
{{ $start := (time .Params.dateStart)}} {{ $beautifulstart := $start.Format "Monday, January 2, 2006, 3PM (Berkeley, CA)"}} {{ $start:= $start.Format "20060102T15"}}
                    <div>
                        <div style="text-align: left;" class="top-3">
                            <p><b>🕓 {{ $beautifulstart }}. <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ $start}}&p1=791&ah=1&msg={{ .Title | urlize}}" target="_blank">Find your timezone</a>.</b></p>

                            <p>📖 Topic: {{ .Params.description | markdownify }}</p>
                            {{if .Params.notes}}
                            <p><a href="{{ .Params.notes }}" target="_blank">📝 Collaborative notes</a></p>
                            {{end}}

                            <p>
                                <details>
                                    <summary><b>☎️ Join the call via Zoom</b> (link only active during scheduled time):</summary> {{ .Params.deets |markdownify }}</details>
                            </p>
                        </div>

                    </div>
                    {{ else }}

                    <div class="row bottom-5 top-5">
{{ .Params.description  | markdownify }}
</div>
{{ end }}
<h4>Resources</h4>
                    <div class="row bottom-5 top-5">
                        <ul>
                            {{if .Params.blog}}
                            <li><a href="{{ .Params.blog }}" target="_blank">Announcement blog post</a></li>
                            {{end}} {{if .Params.notes}}
                            <li><a href="{{ .Params.notes }}" target="_blank">Collaborative notes</a></li>
                            {{end}} {{if .Params.resources}} {{ range $i, $e := .Params.resources }}
                            <li><a href="{{ .url }}" target="_blank">{{ .name }}</a></li>
                            {{end}} {{end}}
                        </ul>
                        </p>
                    </div>
                    {{ if .Params.Vimeo }}
                    <h4>Video recording</h4> {{ range $i, $e := .Params.Vimeo }}
                    <div class="row center bottom-5 top-5">
                        <iframe src="https://player.vimeo.com/video/{{.id}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    {{ end }} {{ end }}

                </div>

                <br>
                <div class="col-offset-2 col-8 top-4 labels">
                    {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><span class="label">{{ . }}</span></a>
{{ end }}
                </div>

                {{ if isset .Params "topicid" }}
                <!-- discourse comments -->
                <div class="col-offset-2 col-8 top-4">
                    <div id='discourse-comments'></div>
                    <script type="text/javascript">
                        DiscourseEmbed = {
                            discourseUrl: 'https://discuss.ropensci.org/',
                            topicId: {
                                {.Params.topicid
                                }
                            }
                        };
                        (function() {
                            var d = document.createElement('script');
                            d.type = 'text/javascript';
                            d.async = true;
                            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                        })();
                    </script>
                </div>
                {{ end }}
            </div>
            <br>
        </div>
    </article>
    <div class="row center top-3 bottom-3">
        <p> Find all community calls <a href="/commcalls/" target="_blank">by date</a>. </p>
    </div>

{{ end }}
