<!DOCTYPE html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}

   <section>
        <div class="row">
            <div class="col-8 col-offset-2 top-4">

{{$pages := .Site.Pages.ByPublishDate.Reverse}}
{{ $title := default .Title .Params.name}}
{{ range first 1 (where $pages ".Params.name" $title) }}
{{$params := .Params}}
<h2>Content by {{ $title }}</h2>
{{ if $params.bio }}
<div class="row">
    <div class="top-2 bottom-2">
{{ $params.bio }}
</div>
</div>
{{ end }}
{{ if $params.link }}
<div class="row">
    <div class="top-2 bottom-2">
 {{ $params.name }}'s online home <a href="{{ $params.link }}" target="_blank"><i class="fa fa-home"></i></a>
</div>
</div>
{{ end }}
{{ end }}
{{ $pages := .Data.Pages }}
{{ partial "archive.html" (dict "pages" $pages) }}
 </div>
        </div>
         <div class="row">
            <div class="col-8 col-offset-2 top-4">
<p> Find all blog posts, tech notes and community calls <a href="/tags/" target="_blank">by tag</a>, <a href="/archive/" target="_blank">by date</a> and  <a href="/authors/" target="_blank">by author</a> or subscribe to the blog <a href="/blog/index.xml" target="_blank">RSS feed</a> or <a href="/blog/index.json" target="_blank">JSON feed</a>.</p>
          </div>
          </div>
</section>
    <!-- ends tutorial section -->
    <br><br>

{{ partial "footer.html" . }}

</body>
</html>
