<!DOCTYPE html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}
   <section>
        <div class="container">
          <div class="row">
            <div class="col-offset-2 col-8 top-20">
                <h2 style="text-align: center;">Authors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-offset-2 top-4">
<ul>
  {{ $data := .Data.Pages }}
  {{ range $key, $value := .Data.Terms.ByCount }}
      <a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a>
      <span>&#40;{{ $value.Count }}&#41; </span>
  {{ end }}
</ul>
            </div>
        </div>
</section>
    <!-- ends tutorial section -->
    <br><br>

{{ partial "footer.html" . }}

</body>
</html>