<!DOCTYPE html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}
<section>
<div class="container">
<div class="row center">
                <div class="col-10 top-20">
                    <h2>.Title</h2>
                </div>
</div>
<div class="row">

<div class="col-8 col-offset-2 top-4">

{{ .Content }}
</div>
            </div>
        </div>
</section>
<!-- {{ partial "sidebar.html" . }} -->
{{< partial "community-fancy.html" >}}
{{< partial "mailkimp.html" >}}
{{ partial "footer.html" . }}

</body>
</html>



