<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>rOpenSci | Contact Us</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" /> <!-- stylesheet imports -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this one is super important for mobile devices -->
    <!-- Fonts.com imports -->
</head>
<body>
{{ partial "header.html" . }}

<!-- begins contact section -->
    <section>
        <div class="container">
            <div class="row center">
                <div class="col-10 top-20">
                    <h2>We'd love to hear from you</h2>
                </div>
                <div class="col-8 top-4">
                    <p>Please don't hestitate to ask us any R, scientific data, API or packaging related questions.</p>
                    <p>If this is a bug related to a package, please file an issue on the appropriate <a href="https://github.com/ropensci/" target="_blank">GitHub repo.</a></p>
                </div>
            </div>

            <form class="contact">
                <div class="row center">
                    <div class="col-6 top-12">
                    <textarea placeholder="Your message" required></textarea>
                    </div>
                </div>
                <div class="row center">
                    <div class="col-3 top-2">
                        <input type="text" name="name" placeholder="Your name" required />
                    </div>
                    <div class="col-3 top-2">
                        <input type="email" name="email" placeholder="email@domain.net" required/>
                    </div>
                </div>

                <div class="row center">
                    <div class="col-6 top-4 bottom-20 end">
                        <button class="main">send</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- /contact -->

    <!-- begins newsletter -->
    <section class="newsletter">
        <div class="container">
            <div class="row center">
                <div class="col-4 top-9">
                    <form class="newsletter">
                        <input type="email" name="email" placeholder="email@domain.net" />
                        <button class="sumbit" name="submit">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="row center">
                <div class="col-6 top-4 bottom-9">
                    <p>Stay up to date on our projects and events by subscribing to our mailing list</p>
                </div>
            </div>
        </div>
    </section>
<!-- /newsletter -->

{{ partial "footer.html" . }}
</body>
</html>