<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>rOpenSci</title>
{{ partial "style-path.html"}}<!-- stylesheet imports -->
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this one is super important for mobile devices -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
{{ partial "header.html" . }}

    <section class="hero">
        <div class="middle-container top-10">
            <div class="row center">
                <div class="col-10 top-20">
                    <h1>We are transforming science through open and reproducible research using shared data and reusable software</h1>
                </div>
                <div class="col-8 top-4">
                    <p>We build software with a community of users and developers, and educate scientists about transparent research practices.</p>
                </div>
            </div><!-- /row -->
            <div class="row center bottom">
                <a href="#interact">
                    <div class="col-12">
                        <small>Learn more</small>
                        <div class="icon icon-caret-down"></div>
                    </div>
                </a>
            </div>
        </div><!-- /container -->

    </section><!-- /hero -->

    <section id="interact">
        <div class="container">
            <div class="row center">
                <div class="col-10 top-12">
                    <h2>Interact & Share</h2>
                </div>
                <div class="col-8 top-4">
                    <p>Use our packages to aquire your data from both your own and from various data sources, analyze it, add your narrative and generate a final document in any of widely used formats such as Word, Markdown, PDF or LaTeX. Combine our tools with the rich ecosystem of R packages.</p>
                </div>
            </div>
            <div class="row center bottom">
                <div class="col-2 top-4 list">
                    <img src="/img/access.svg" class="bottom-2" />
                    <h5>Access a Vast Trove of Scientific Data</h5>
                </div>
                <div class="col-2 top-4 list">
                    <img src="/img/dataviz.svg" class="bottom-2"  />
                    <h5>Interactive Data Analysis and DataViz</h5>
                </div>
                <div class="col-2 top-4 list">
                    <img src="/img/share.svg" class="bottom-2" />
                    <h5>Share Documents and Your Data</h5>
                </div>
            </div>
            <div class="row center top-12">
                <a class="button main" href="packages.html">browse packages</a>
            </div><!-- /row -->
            <div class="row center top-12 bottom-12">
                <div class="col-6">
                    <p>You can also share your work with our Community!</p>
                    <a href="submit_tutorial.html">Contribute with your package</a>
                </div>
            </div>
        </div>
    </section>

{{ partial "donate.html" . }}

<!-- begins documentation section -->
<section class="docs">
    <div class="container">
        <div class="row center">
            <div class="col-6 top-12">
                <h2>Documentation</h2>
                <p>Dive into detailed tutorials for our packages and explore use cases</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2 col-offset-2 top-12">
                <h5><i>d</i> Tutorials</h5>
                <p>Quickly get up to speed with easy to follow tutorials on our packages</p>
                <a class="external" href="tutorials.html">Browse tutorials</a>
            </div>
            <div class="col-2 col-offset-1 top-12">
                <h5><i>e</i> Use Cases</h5>
                <p>Get inspired by real examples on how our packages can be used.</p>
                <a class="external" href="use_cases.html">Browse tutorials</a>
            </div>
            <div class="col-2 col-offset-1 top-12">
                <h5><i>f</i> Video Tutorials</h5>
                <p>Learn by watching a video tutorial.</p>
                <a class="external" href="https://vimeo.com/ropensci" target="_blank">Browse our videos</a>
            </div>
        </div>
        <div class="row center">
            <div class="col-6 top-20 bottom-6">
                <p>Have a suggestion for a tutorial? We'd love to list it in our resources!</p>
                <a class="button outline green top-2" href="/submit_tutorial.html">Submit Tutorial</a>
            </div>
        </div>
    </div><!-- /container -->
</section>
<!-- ends documentation section -->

<!-- begins community section -->
    <section class="community">
        <div class="container">
            <div class="row center">
                <div class="col-2 top-20">
                    <img src="/img/community.svg" class="top-4">
                </div>
            </div>
            <div class="row center">
                <div class="col-8 top-4 bottom-6">
                    <h2>We're big on community</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-8 top-4 bottom-20">
                    <p>We welcome you to join us and help improve tools and practices available to researchers while receiving greater visibility to your contributions. You can contribute with your packages, resources or post questions so our members will help you along your process.</p>
                    <a class="button main top-4 bottom-20" href="/community.html">Get Started</a>
                </div>
            </div>
        </div>
    </section>
<!-- ends community section -->


<!-- begins upcoming events calendar section -->
<section class="upcoming">
    <div class="container">
        <div class="row center">
            <div class="col-8 top-20">
                <h2>Upcoming events</h2>
            </div>
        </div>
        <div class="row center">
            <div class="col-10 top-12">
                <table id="upcoming-events">
                    <thead>
                        <tr>
                            <th>Event</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Attendees</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody id="eventlist"></tbody>
                </table>
            </div>

            <div class="col-4 top-5 bottom-13">
                <a href="https://calendar.google.com/calendar/embed?src=t6pva0jm24urp7cp0n32262jd8%40group.calendar.google.com&ctz=America/Los_Angeles" target="_blank" class="button outline green">View full calendar</a>
            </div>
        </div>
    </div>
</section>
<!-- / ends upcoming events calendar section           
 ******** IMPORTANT: this section requires calinit.js and calendarJSON.js please see bottom of the page [or search for `calendar] for required scripts ********* --> 

{{ partial "mailkimp.html" . }}

<!-- begin helmsley trust mini section -->
    <section class="helmsley">
        <div class="container">
            <div class="row center">
                <div class="col-10 top-8">
                    <i>c</i>
                </div>
                <div class="col-10 bottom-9">
                    <p>Made with support from the Helmsley Trust</p>
                </div>
            </div>
        </div>
    </section>
<!-- end helmsley trust mini section -->

{{ partial "footer.html" . }}

<!-- Loads `calendar authorization and funcionality, if calendar is being loaded in a page, this should be just above the closing body tag  -->
<script type="text/javascript" src="/js/calendarJSON.js"></script>
<script type="text/javascript" src="/js/calinit.js"></script>


</body>
</html>