{{ define "main" }}

<article>
    <div class="container">
        <div class="row">
            <div class="col-2 sidebar top-5">
                <ul class="autoSidebar"></ul>
            </div> <!-- /navigation sidebar -->
        </div>
        <div class="row">
            <div class="col-offset-2 col-8 top-20">
                <h2 style="text-align: center;">{{ .Title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-offset-2 col-8 top-10 bottom-5" style="font-size: 20px; text-align: center;">
                <p class="authors" style="text-align: center;">
                    {{$authors := .Params.authors}}
                            {{ partial "authors.html" (dict "authors" $authors "Site" $.Site) }}
                </p>
                <br>
                <div style="font-size: 20px; color: #2C3E50; margin-top: 15px;">{{ .Date.Format "January 2, 2006" }}</div>
            </div>
            <div class="col-offset-2 col-8 top-2">

                {{ if .Params.preface }}
                <div class="alert alert-info" role="alert">{{ .Params.preface | markdownify }}</div>
                {{ end }}

                {{ .Content }}
            </div>
            <br>
           
            <div class="col-offset-2 col-8 top-4 labels">
                {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><span class="label">{{ . }}</span></a>
                {{ end }}
            </div>

            <!-- discourse comments -->
            <!-- 
            group 1. posts before discourse came along - no discourse embed code
            group 2. posts that have topicid in their yaml header - get discourse embed code with topocid
            group 3. posts we're trying to automate embeds for, no topicid and newer than 2019
              (to differentiate from older posts that also don't have topicid in their yaml)
            -->

            {{ if isset .Params "topicid" }}
            <div class="col-offset-2 col-8 top-4">
                <div id='discourse-comments'></div>
                <script type="text/javascript">
                DiscourseEmbed = { discourseUrl: 'https://discuss.ropensci.org/',
                                   topicId: {{ .Params.topicid }} };
                (function() {
                  var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                  d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                })();
                </script>
            </div>
            {{ end }}

            <!-- {{ if (not (isset .Params "topicid")) and .Params.Date.Year gt 2019 }} -->
            {{ if and (not (isset .Params "topicid")) (.Params.Date.Year gt 2019) }}
            <div class="col-offset-2 col-8 top-4">
                <div id='discourse-comments'></div>
                <script type="text/javascript">
                DiscourseEmbed = { discourseUrl: 'https://discuss.ropensci.org/',
                                   discourseEmbedUrl: {{ .Page.Permalink | absURL }} };
                (function() {
                  var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                  d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                })();
                </script>
            </div>
            {{ end }}

        </div>
        <br>
    </div>
</article>

{{ end }}

