
<div class="wrapper">
<figure class="floatLeft" style="margin-bottom: 0px;">
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}
    <img src="{{ .Get "src" }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         style="  object-fit: cover; object-position: center;  height: 250px;  width: 250px; margin-right: 15px"
    /> <!-- Closing img tag -->
    {{- if .Get "link" }}</a>{{ end -}}
</figure>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
        <p>
            {{ with (.Get "title") -}}
                <h4>{{ . }}</h4>
            {{- end -}}
            {{- if or (.Get "caption") (.Get "attr") -}}<p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}
                    <a href="{{ . }}">
                {{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </p>
    {{- end }}
{{ .Inner | markdownify }}
</div>
