<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>rOpenSci | Tech Notes</title>
    {{ partial "style-path.html"}}
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this one is super important for mobile devices -->
</head>
<body>
{{ partial "header.html" . }}

<!-- begins tutorial section -->
    <section>
        <div class="container">
            <div class="row center">
                <div class="col-8 top-20">
                    <h2>rOpenSci Tech Notes</h2>
                </div>
                <div class="col-8 top-4 bottom-12">
                    <p><i>Package updates, technical know-how, and small announcements by Scott and Jeroen related to in-house software development at rOpenSci.</i></p>
                </div>
            </div>

            <div class="row">
                

  {{ range (where .Data.Pages "Section" "!=" "") }}

  <div class="col-10"><p><a href="{{ .URL }}">{{ .Title }}</a></p></div>
  <div class="col-2" style="text-align:right;"><small class="date lighter">{{ .Date.Format "January 2, 2006" | upper }}</small></div>


  {{ end }}

                

            </div> 
        </div><!-- /container -->
    </section>
    <!-- ends tutorial section -->
    <br><br>

{{ partial "footer.html" . }}


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
    <script type="text/javascript" src="js/tutorialinit.js"></script>

</body>
</html>
