{{ define "main" }}

<article class="blog-post">
    <div class="container">
        <div class="row">
            <div class="col-8 top-12 mainpostlist">
                <h1 style="text-align: center;">{{ .Title }}</h1>

                <div class="bottom-5 top-10" style="font-size: 20px; text-align: center;">
                    <p class="authors" style="text-align: center;">
                        {{$authors := .Params.authors}}
                            {{ partial "authors.html" (dict "authors" $authors "Site" $.Site) }}
                        <small style="color: #5B617A; margin-left: 10px;"> {{ .Date.Format "January 2, 2006" | upper }}</small>
                    </p>
                </div>

                {{ .Content }}

              <br> 
            <div class="col-offset-2 col-8 top-4 labels" style="margin-left: 0px;">
                {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><span class="label">{{ . }}</span></a>
                {{ end }}
        </div>
        <br>

{{ partial "comments.html" .Params }}
            </div>
            {{ partial "technotebar.html" . }}
        </div>
        <br>
    </div>
</article>

{{ end }}
