<!DOCTYPE html>
<html>
<head>
{{ partial "head.html" . }}
</head>
<body>
{{ partial "header.html" . }}

<article class="blog-post">
    <div class="container">
        <div class="row">
            <div class="col-8 top-12 mainpostlist">
                <h1 style="text-align: center;">{{ .Title }}</h1>

                <div class="bottom-5 top-10" style="font-size: 20px; text-align: center;">
                    <p class="authors" style="text-align: center;">
                        {{$authors := .Params.authors}}
                            {{ partial "authors.html" (dict "authors" $authors "Site" $.Site) }}
                        <small style="color: #5B617A; margin-left: 10px;"> {{ .Date.Format "January 2, 2006" | upper }}</small>
                    </p>
                </div>

                {{ .Content }}

              <br> 
            <div class="col-offset-2 col-8 top-4 labels" style="margin-left: 0px;">
                {{ range .Params.tags }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"><span class="label">{{ . }}</span></a>
                {{ end }}
        </div>
 {{ partial "otherposts.html" (dict "authors" $authors "Site" $.Site) }}
        <br>


                {{ if isset .Params "topicid" }}
                <!-- discourse comments -->
                <div class="top-4">
                    <div id='discourse-comments'></div>
                    <script type="text/javascript">
                    DiscourseEmbed = { discourseUrl: 'https://discuss.ropensci.org/',
                                       topicId: {{ .Params.topicid }} };
                    (function() {
                      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
                      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
                    })();
                    </script>
                </div>

                {{ else }}
                <!-- Disqus Comments -->
                <div class="top-4">
                  <div id="disqus_thread"></div>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                    var disqus_shortname = 'ropenscience';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
                {{ end }}
            </div>
            {{ partial "technotebar.html" . }}
        </div>
        <br>
    </div>
</article>


<!-- {{ partial "sidebar.html" . }} -->

{{ partial "footer.html" . }}

</body>
</html>



